body {
	font-family: arial, sans-serif;
	background-color: black;
	margin: 0px;
	padding: 5px;
}


/* .stars {
	color:white;
} */

.position {
	width: 95vw;
	height: 99vh;
	position: absolute;
	/* float: left; */
}

/* .donuts {
	width: 25vw;
	height: 25vw;
	position: relative;
	border: 1px solid blue;
	float: left;
}

.donut {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	border-radius: 80%;
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.donut-hole {
	width: 30%;
	height: 30%;
	margin: 35%;
	border-radius: 80%;
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */

	/* 
	Embedded animation in class

	animation-name: grow;
	animation-duration: 2s; 
	animation-iteration-count: infinite; / loops it /
	animation-direction: alternate; / Reverses direction of one way animation/
	animation-timing-function: ease-in-out; / Smoothes animation/ */



/* Can be tagged as specific element IDs to adjust the speed of the default animation. */
/* .slow {
	animation-duration: 25s;
}

.medium {
	animation-duration: 13s;
} */

@keyframes shimmer{
	from {opacity: 0%;
	to {opacity: 100%;}}
}

/* Animation can be added as it's own class/ID to DIVs found in HTML instead of including it in CSS */
.shimmer1 {
	animation-name: shimmer;
	animation-duration: 5s; 
	animation-iteration-count: infinite; /* loops it */
	animation-direction: alternate; /* Reverses direction of one way animation*/
	animation-timing-function: ease-in-out; /* Smoothes animation*/
}

.shimmer2 {
	animation-name: shimmer;
	animation-duration: 9s; 
	animation-iteration-count: infinite; /* loops it */
	animation-direction: alternate; /* Reverses direction of one way animation*/
	animation-timing-function: ease-in-out; /* Smoothes animation*/
}

.shimmer3 {
	animation-name: shimmer;
	animation-duration: 13s; 
	animation-iteration-count: infinite; /* loops it */
	animation-direction: alternate; /* Reverses direction of one way animation*/
	animation-timing-function: ease-in-out; /* Smoothes animation*/
}
/*

Link to gradient generator:
https://cssgradient.io

*/