html{
  padding: 0px;
  margin: 0px;
  /* display: block; */
  overflow: hidden;

}

body {
  margin: 0px;
  padding: 0px;
  /* width: 100vw;
  height: 100vh; */
  text-align:center;
  background-color:black;
  
}

/* .goopBase {
  background-color: green;
  width: 100vw;
  height: 1px;
  position: fixed;
  display: block;
  z-index: 2;
} */

.goop {
  width: 100vw;
  height: 25px;
  position: top;
  z-index: 2;
}

/* #clock {
  font-weight:300;
  font-size:60px;
  width: 100vw;
  height: 100px;
  z-index: -1;
  background-color: black;
} */

main {
	width: 100vw;
	height: 0vh;
	background:  rgb(222, 216, 143);
	position: absolute;
	transition: height 3600s ease;

}

.container {
	width: 200px;
	height: 100px;
	position: absolute;
	bottom: -50px;
}

/* .meniscus {
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: -50px;
} */

/* .highlight {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 30px;
	bottom: 25px;
	opacity: 0.4;
	filter: blur(3px);
} */

#drip-1{
	width: 150px;
	height: 150px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	border-radius: 50%;
	left: 0px;
	bottom: -75px;
}
.h-1 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 40px;
	bottom: 25px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-2 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 200px;
	bottom: -50px;
}
.men-2{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	z-index: 5;
	left: -50px;
	bottom: 25px;
}
.h-2 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 15px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-3 {
	width: 80px;
	height: 80px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 350px;
	bottom: -40px;
}
.men-3{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	left: -50px;
	bottom: 15px;
}
.h-3 {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 20px;
	bottom: 15px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-4 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 480px;
	bottom: -50px;
}
.men-4{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-4 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 15px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-5 {
	width: 150px;
	height: 150px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 630px;
	bottom: -75px;
}
.men-5{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 50px;
}
.h-5 {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 30px;
	bottom: 25px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-6 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 830px;
	bottom: -50px;
}
.men-6{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-6 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 20px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-7 {
	width: 50px;
	height: 50px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 980px;
	bottom: -25px;
}
.men-7{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 0px;
}
.h-7 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 13px;
	bottom: 10px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-8 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 1080px;
}
.men-8{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-8 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-9 {
	width: 150px;
	height: 150px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 1230px;
	bottom: -75px;
}
.men-9{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 50px;
}
.h-9 {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 35px;
	bottom: 25px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-10 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 1430px;
	bottom: -50px;
}
.men-10{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-10 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-11 {
	width: 200px;
	height: 200px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 1580px;
	bottom: -100px;
}
.men-11{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 75px;
}
.h-11 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 55px;
	bottom: 30px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-12 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 1830px;
	bottom: -50px;
}
.men-12{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-12 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-13 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 1980px;
	bottom: -50px;
}
.men-13{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-13 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-14 {
	width: 50px;
	height: 50px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 2130px;
	bottom: -25px;
}
.men-14 {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 0px;
}
.h-14 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 15px;
	bottom: 5px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-15 {
	width: 150px;
	height: 150px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 2230px;
	bottom: -75px;
}
.men-15 {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 50px;
}
.h-15 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 45px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-16 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 2430px;
	bottom: -50px;
}
.men-16 {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-16 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-17 {
	width: 150px;
	height: 150px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 2580px;
	bottom: -75px;
}
.men-17 {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 50px;
}
.h-17 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 35px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-18 {
	width: 50px;
	height: 50px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 2780px;
	bottom: -25px;
}
.men-18 {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 0px;
}
.h-18 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 15px;
	bottom: 5px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-19 {
	width: 100px;
	height: 100px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 2880px;
	bottom: -50px;
}
.men-19 {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 25px;
}
.h-19 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 25px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}

#drip-20 {
	width: 150px;
	height: 150px;
	background: rgb(222, 216, 143);
	border-radius: 50%;
	position: absolute;
	left: 3030px;
	bottom: -75px;
}
.men-20 {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	position: absolute;
	bottom: 25px;
	z-index: 2;
	left: -50px;
	bottom: 50px;
}
.h-20 {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	position: absolute;
	z-index: 1;
	left: 35px;
	bottom: 20px;
	opacity: 0.4;
	filter: blur(3px);
}